h1 {
	font-size: 35px !important;
}

h3 {
	width: auto;
	border-bottom: 3px solid #F9D477;
}

ul {
	margin-left: 40px ;
}


.jumbotron {
	height: 450px;

	color: #fff;
	background: #7f8ca5;
}

.index_description {
	margin-top: 100px;
	height: 100px;
}

.index_info-block {
	margin-top: 50px;
	margin-bottom: 50px;
}

