/*=============================================================================================== 
.: INDEX :. 
===============================================================================================*/

p.index_text-heads {
	font-weight: 400;
	font-size: 25px;
	color: #0F1F39;
}

p {
	float: left;
	clear: both;
}

p.index_text-heads::after {
	position: relative;
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-color: #FAC864;
}

p.index_centered_text {
	float: initial;
}

ul.index_list {
	margin-left: 40px ;
}

h1 {
	font-size: 35px !important;
}

.jumbotron {
	height: 500px;
	color: #fff;
	background: #7f8ca5;
	z-index: 0;
}

.index_description {
	margin-top: 150px;
	height: 150px;
}

.index_info-block {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 25px;
}

.bg-2 {
	background: #F4F5F7;
	width: 100vw;
}

/*=============================================================================================== 
.:. 
===============================================================================================*/
