#marker {
  left: 120px !important;
}

#myNavbar li:nth-child(1):hover ul div {
  -webkit-transform: translate(-120px, 0);
  -moz-transform: translate(-120px, 0);
  -ms-transform: translate(-120px, 0);
  transform: translate(-120px, 0);
}

#myNavbar li:nth-child(1):hover ~ #marker {
  -webkit-transform: translate(-120px, 0);
  -moz-transform: translate(-120px, 0);
  -ms-transform: translate(-120px, 0);
  transform: translate(-120px, 0);
}

#myNavbar li:nth-child(2):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#myNavbar li:nth-child(2):hover ~ #marker {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

#myNavbar li:nth-child(3):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#myNavbar li:nth-child(3):hover ~ #marker {
  -webkit-transform: translate(120px, 0);
  -moz-transform: translate(120px, 0);
  -ms-transform: translate(120px, 0);
  transform: translate(120px, 0);
}

#myNavbar li:nth-child(4):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#myNavbar li:nth-child(4):hover ~ #marker {
  -webkit-transform: translate(360px, 0);
  -moz-transform: translate(360px, 0);
  -ms-transform: translate(360px, 0);
  transform: translate(360px, 0);
}

.mne_jumbotron {
	height: 350px;
	color: #fff;
	background: #7f8ca5;
	z-index: 0;
	margin-bottom: 0px;
}

.mne_container {
	padding-left: 0px;
}

.mne_menu {
	background: #F4F5F7;
	height: 4600px;
	text-align: left;
}

.mne_menu ul {
	list-style: none; 
	padding-left: 170px;
	padding-top: 100px;
}

.mne_menu ul li {
	margin-bottom: -5px;
}

.mne_links {
	color: #7F8CA5;
	font-size: 18px;
}

.mne_links:hover {
	
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
	background: transparent;
	color: #0F1F39;
	font-weight: 600;
}

.nav > li > a:hover, 
.nav > li > a:focus {
	background: transparent;
	color: #0F1F39;
	font-weight: 600;
}

.affix {
	top: 150px;
	/* -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; */
}

.affix-top {
    position: static;
    /* top: 10px; */
}

.mne_texts {
	padding-top: 100px;
	background: #fff;
	margin-bottom: 0px;
	text-align: left;
}

.mne_final_textblock {
	padding-bottom: 50px ;
}


