.mne_panel {
	height: 500px;
	padding-top: 15%;
	background: #F4F5F7;
	margin-bottom: 0px;
	text-align: left;
}

.mne_menu {
	height: 500px;
	padding-top: 15%;
	background: #F4F5F7;
	margin-bottom: 0px;
	text-align: left;
}
