.production_panel {
	height: 500px;
	padding-top: 15%;
	background: #F4F5F7;
	margin-bottom: 0px;
	text-align: center;
}

.production_links {
	color: #2A4069;
}

.production_links:hover {
	color: #7f8ca5;
} 

#marker {
  left: 130px !important;
}

#myNavbar li:nth-child(1):hover ul div {
  -webkit-transform: translate(-120px, 0);
  -moz-transform: translate(-120px, 0);
  -ms-transform: translate(-120px, 0);
  transform: translate(-120px, 0);
}

#myNavbar li:nth-child(1):hover ~ #marker {
  -webkit-transform: translate(-120px, 0);
  -moz-transform: translate(-120px, 0);
  -ms-transform: translate(-120px, 0);
  transform: translate(-120px, 0);
}

#myNavbar li:nth-child(2):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#myNavbar li:nth-child(2):hover ~ #marker {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

#myNavbar li:nth-child(3):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#myNavbar li:nth-child(3):hover ~ #marker {
  -webkit-transform: translate(120px, 0);
  -moz-transform: translate(120px, 0);
  -ms-transform: translate(120px, 0);
  transform: translate(120px, 0);
}

#myNavbar li:nth-child(4):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#myNavbar li:nth-child(4):hover ~ #marker {
  -webkit-transform: translate(360px, 0);
  -moz-transform: translate(360px, 0);
  -ms-transform: translate(360px, 0);
  transform: translate(360px, 0);
}